# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# Salesforce (gebruik GEEN EhB-email!)
SALESFORCE_USERNAME=
SALESFORCE_PASSWORD=
SALESFORCE_SECURITY_TOKEN=
SALESFORCE_DOMAIN=login

# Optioneel
HEARTBEAT_INTERVAL_SECONDS=1
SYSTEM_NAME=CRM
STATUS_CHECK_INTERVAL_SECONDS=30
LOG_LEVEL=INFO
